@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap');
*,
*::before,
*::after {
        
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
        
        color:gray;
        font-size: 20px;
        font-weight: 300;
        display:grid;
        align-items:center;
        justify-content: center;
        place-items: center;
}
body {
        font-family:'Montserrat';
        font-weight:normal;
        background-color: #d2d2d2e0;
}
.main-container{
        max-height: 1100px;
        width:1440px;
        background-color: #ffffff;
        display:grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 100px 927px;
        row-gap: 60px;
        column-gap: 0px;
        padding:30px;
        margin:50px 100px;
        
}
header{
        
        width: 100%;
        height:100px;
        background-color: transparent;
        display:grid;
        place-items: start;
        align-items: center;
}
header h1 {
        padding:0;
        font-style:normal;
        font-weight: normal;
        line-height:80px;
        font-size:80px;
        width:100%;
        height:100px;
        color: #2c2c2c;
        background-color:transparent;
        font-family: 'EB Garamond', serif;
}
 
main{
        background-color: transparent;
        display:grid;
        width:100%;
        height:800px;
        grid-template-columns: 100%;
        justify-content:space-between;
        grid-template-rows: 50px 47px 568px;
        row-gap:50px ;
}
#info{
        
        width:847px;
        height:50px;
        font-size: 16px;
        color: #2c2c2c;
        display:grid;
        background:transparent;
        justify-content:start;
        place-items: start;
}
.inputs
{
        display:grid;
        grid-template-columns: 204px 730px;
        column-gap:10px;
        /*margin-left:33px;*/
}
.custom-input{
        display:grid;
        cursor:pointer;
        place-items: center;
        justify-content:center;
        align-items: center;
        grid-template-columns: 80% 20%;
        grid-template-rows:100%;
        padding:5px;
        column-gap:0px;
        background-color:black;
        color:white;
        font-size:16px;
}
.invisible_input
{
        width:720;
        background-color:transparent;
        display:grid;
        place-items: center;
        justify-content:center;
        align-items: center;
        font-size:16px;
        box-sizing: border-box;
        border: 3px dashed #d2d2d26b;


}
.dropZoneInput{
        display:none;
}
.drop_zone_over{
        border-style:solid;
}
input[type="file"]
{
        display:none;
        
}
.pic_clr{
        display:grid;
        grid-template-columns: 630px 630px 80px;
        grid-template-rows: 568px;
        align-items: center;
        column-gap:20px;
        justify-content:center;
        background-color:transparent;
}
.pic_clr #container{
        position: relative;
        width:630px;
        height:568px;
        background-color:transparent;
}

.pic_clr canvas{
        position: relative;
        margin:0;
        border: none;
       cursor:url("img/ed.png"),auto;
}
#pixelColor{
        border: 1px solid rgb(143, 143, 143);
        width:50px;
        height:50px;
}
.clrs{
        height:100%;
        max-height:100%;
        display:grid;
        grid-template-rows:52px auto;
        grid-template-columns:100%;
        justify-content:center;
}

.clrs p{
        width:100%;
        background-color: #d2d2d244;
        display:grid;
        grid-template-columns: 25px auto;
        justify-content:start;
        align-items: center;
        padding-left:20px;
}
.attention-sign{
        width:14px;
        height:14px;
}
.colors{
        max-height:100%;
        width:630px;
        display:grid;
        padding:0px;
        background-color:transparent;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 33% 33% 33% ;
        row-gap: 0px;
        align-items: center;
        place-items: center;
        justify-content:space-between;
}

.m-glass {

        position: absolute;
        border: 1px solid white;
        border-radius: 50%;
        cursor: none;
        width: 60px;
        height: 60px;
        z-index:5;
        
}

.box {
        width: 197px;
        height: 138px;
        display: grid;
        background-color: attr('data-color'); 
        justify-content: space-around;
        grid-template-columns: 197px;
        grid-template-rows: 30px 33px;
        row-gap:75px;
        margin: 0px;
        margin-bottom:0px;
}

.colorInfo{
        width:197px;
        height:33px;
        font-family: 'Montserrat';
        font-size:14px;
        line-height: 18px;
        font-style:normal;
        position:relative;
        background-color:white;
        display:grid;
        justify-content: start;
        align-items: center;
        padding-left:15px;
        border: 3px solid #d2d2d2c7;
        text-transform: uppercase;
}

.delete-btn{
        position:relative;
        margin-right:1px;
        margin-left:auto;
        height:30px;
        width:30px;
        border:none;
        border-radius: 0px;
        background-color:black;
        z-index: 1;
        cursor:pointer;
}
.trashImg{
        width:12;
        height:14;
}