$backgroundColor:rgb(248, 131, 131);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400;600&family=Raleway:wght@700;900&display=swap');
%pStyle{
        font-family:'Open Sans';
        font-weight:400;
        font-size:14px;
        text-align:left;
        line-height:20px;
        color: #373A39;
        padding:0;
        margin:0;
}
%menu-item{
        font-family:'Raleway',sans-serif;
        font-weight: bold;
        font-size:12px;
        color:#373A39;
        text-transform: uppercase;
}
%name-item{

}
.container
{
        max-width:1440px;
        max-height:100%;
        margin:0 auto;
        background-color:$backgroundColor;
}
.header{
        
        min-height:752px;
        top:0;
        &__top-inner{
                display:flex;
                justify-content:space-between;
                align-items:center;
                min-height:94px;
                background-color:black;
                padding:0 20px;
        }
        &__content-inner{/**fix size problem**/
                max-width:1440px;
                min-height:400px;
                min-width: 1000px;
                height: auto;/**temporary**/
                width:100%;
                display:grid;
                position:absolute;
                place-items:center;
                justify-content:center;
                grid-template-columns: 100%;
                grid-template-rows: 120px 20px 20px;
                margin:10% 0;
                z-index:1;
                background-color:transparent;
                
        }
        &__content-title{
                color:#FFFFFF;
                font-family:'Montserrat';
                font-weight:bold;
                font-size:100px;
        }
        &__content-description{
                color:#FCBB08;
                font-family:'Montserrat';
                font-weight:bold;
                font-size:16px;
        }
        &__content-icon{
                color:#FFFFFF;
                margin-top:300px;
        }
        &__img{
                width:100%;
                max-height:658px;
                z-index:-1;
                max-width:1440px;
                opacity: 70%;
        }
}
.logo{
        display:block;
        background-color:rgb(152, 16, 243);
        &__img{
                width:42px;
                height:42px;
        }

}
.menu{
        display:block;
        background-color:rgb(79, 131, 251);
        &__list{
                display:flex;
                background-color:red;
                flex-direction: row;
                justify-content:space-around;
                list-style:none;
                padding:10px;
                margin:0;
        }
        &__list-item{
                display:block;
                margin:0 10px;
                background-color:white;
                padding:0;
                max-width:auto;
        }
        &__link{
                max-width:100%;
                @extend %menu-item;
                justify-content:center;
                text-decoration:none;
        }
        &__link--active, &__link:hover{
                @extend %menu-item;
                font-weight:900;
                cursor:pointer;
                text-decoration:none;
                border-bottom: solid #FCBB08 2px;
        }
}
.title{
        margin:0;
        padding:0;
        font-family:'Montserrat',sans-serif;
        font-size: 48px;
        text-transform:capitalize;
        display:inline;
        background-color:rgb(100, 62, 62);
       
        max-height:60px;
       &:before{
                content: "";
                background: #FCBB08;
                position: absolute;
                height: 60px;
                width: 4px;
                margin-left:30px;
                margin-top:40px;
                transform: rotate(90deg);
        }
        
}
.about{
        display:block;
        margin:0;
        padding:0;
        max-height:491px;
        background-color:red;
        &__inner{
                margin:0;
                padding:100px;
                display:block;
                background-color:rgb(161, 211, 163);
        }
        &__content{/**container for top alignment**/
                display:grid;
                align-items:top;
                justify-content: space-between;
                grid-template-columns:267px 770px;
                grid-template-rows: auto;
                column-gap:30px;
                background-color:black;

        }

        &__text{
                padding:0;
                background-color:white;
                @extend %pStyle;
        }
}
.expertise{
        display:block;
        margin:0;
        padding:0;
        max-height:877px;
        &__inner{
                height:877px;
                
                margin:0;
                padding:0 100px;
                display:grid;
                grid-template-rows: 33% 33% 33%;
                grid-template-columns: 100%;
                row-gap:auto;
                align-items: center;
                justify-content:center;
                background-color:blue;
        }
        &__content{
                display:grid;
                grid-template-columns:auto auto;
                column-gap:20px;
                justify-content: space-between;
                background-color:red;
                max-height:137px;
                min-width:1170px;
                &-items{
                        width:370px;
                        display:grid;
                        grid-template-rows:auto auto auto;
                        grid-template-columns:100%;
                        justify-content: space-between;
                        background-color: #FCBB08;
                }
                &-item{
                        display:flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        background-color:rgb(117, 95, 95);
                }
                /*change it, use img with percentage*/
                &-item:before{
                        content: "";
                        background: #000000;
                        position: absolute;
                        height: 100px;
                        width: 2px;
                        margin-left:50px;
                        margin-bottom:-25px;
                        transform: rotate(270deg);
                }
                &-text{
                       @extend %pStyle;
                }
        }
        
        
        &__services{
                max-height:141px;
                width:100%;
                display:grid;
                grid-template-columns:auto auto auto;
                grid-template-rows:141px;
                justify-content:space-between;
                align-items: top;
                column-gap:0px;
                background-color:green;
                &-item{
                        margin:0;
                        max-width:370px;
                        display:grid;
                        align-items: top;
                        justify-content:space-between;
                        grid-template-columns: 50px 285px;
                        grid-template-rows:auto;
                        background-color:black;        
                }
                &-container{
                        margin:0;
                        padding:0;
                        background-color:red;
                
                }
                &-title{
                        @extend %menu-item;
                        font-size:14px; 
                        letter-spacing: 2px;                       margin:0;
                        padding:0;
                        background-color:white;
                }
                &-img{
                        background-color: #FCBB08;
                        width:50px;
                        height:50px;         
                }
                &-text{
                        @extend %pStyle;
                }
        }
       
}
.features{
        &__inner{
                max-height:840px;
                padding:0;
                display:grid;
                align-items:center;
                justify-content:space-between;
                grid-template-columns:50% 50%;
                grid-template-rows:100%;
                background:#F6F8FA;
                column-gap:0px;
        }
        &__img{
                height:840px;
                width:705px;
        }

        /*center content*/
        &__content{
                max-width:470px;
                max-height:559px;
                margin:0 auto;
                display:grid;
                grid-template-rows:168px 324px;
                grid-template-columns: 100%;
                align-items:stretch;
                justify-content:space-between;
                background-color:white;
                row-gap:40px;
        
        }
        &__title{
                max-height:168px;
                
                &:before{
                        content: "";
                        background: #FCBB08;
                        position: absolute;
                        height: 60px;
                        width: 4px;
                        margin-left:30px;
                        margin-top:100px;
                        transform: rotate(90deg);
                }
        }
        &__text{
                margin:0;
                @extend %pStyle;
                padding:0 5px;
                align-items:center;
                justify-content:space-between;
                background-color:rgb(110, 110, 163);
        }
}
.portfolio{
        max-height:1420px;
        &__header{
                max-width: 1440px;
                max-height:388px;
                padding:0px;
                display:flex;
                align-items:center;
                justify-content:space-between;
                background-color:rgb(110, 110, 163);
        }
        &__buttons{
                width:566px;
                display:flex;
                background-color:red;
                flex-direction: row;
                justify-content:space-between;
                list-style:none;
                padding:10px;
                margin:0;
        }
        &__btn{
                background:none;
                @extend %menu-item;
                &-all{
                        margin-top:0px;
                        width:100%;
                        height:100px;
                        text-align:center;
                        text-transform: uppercase;
                        font-family: 'Montserrat';
                        font-weight:bold;
                        font-size:14px;
                        color:#242121;
                        background-color:#F6F8FA;
                        border:none;
                        
                }
        }
        &__items{
                padding:0;
                max-width:1440px;
                display:grid;
                grid-template-columns:auto auto auto auto;
                align-items:center;
                justify-content:space-between;
                grid-template-rows: 100%;
                background-color:rgb(95, 76, 76);

        }
        &__item{
                display:grid;
                align-items: center;
                &-img{
                        display:block;
                        position: relative;
                        max-width:343px;
                        max-height: 912px;
                         
                }
                &-title{
                        font-size:50px;
                        text-align:center;
                        text-transform: uppercase;
                }
                &-description{
                        margin-top:100px;
                        font-family:'Open Sans';
                        font-weight: 400;
                        text-transform:uppercase;
                        text-align: center;

                }
                &-title, &-description{
                        position:absolute;
                        z-index:1;
                        background-color:red;
                }
        }
        

}

.testimonials{
        background-color:black;
        max-height: 433px;
        &__inner{
                height:433px;
                display:grid;
                grid-template-columns: 100%;
                grid-template-rows:auto auto;
                row-gap:0px;
                background-color:white;
        }
        &__text{
                display:grid;
                justify-content:center;
                align-items:center;
                text-align: center;
                padding:30px;
                margin:0;
                font-family:'Merriweather';
                font-style: italic;
                font-weight:200;
                font-size:18px;
                line-height: 30px;
                background-color:red;
        }
        &__author{
                font-family:'Merriweather';
                font-style: italic;
                font-weight:200;
                color:#9E9E9E;
                text-align: center;
                background-color:rgb(126, 121, 121);
        }

}
.video{
        &__content{
                max-height: 324px;
                width:1440px;
        }
}
.facts{
        max-height:431px;
        &__inner{
                display:grid;
                grid-template-rows:431px;
                grid-template-columns:auto auto auto auto;
                align-items:center;
                justify-content:space-around;
                background-color:white;
        }
        &__item{
                display:flex;
                text-align: start;
                flex-direction: column;
                &-num{
                        font-style:'Montserrat';
                        font-weight: bold;
                        font-size:60px;
                        color:#242121;
                }
                &-name{
                        font-style:'Open Sans';
                        font-weight: regular;
                        font-size:14px;
                        color:#00B2A0;
                }
        }
}
.slider{
        &__item{
                display:grid;
                grid-template-columns:auto auto auto auto;
                grid-template-rows:auto;
                padding: 100px 0;
                column-gap:40px;
                background-color:red;
                &-img{
                        width:424px;
                        height:430px;
                }
                &-text{
                        width:704px;
                        display:grid;
                        align-items:center;
                        grid-template-columns: auto;
                        grid-template-rows: 200px auto;
                        row-gap:30px;
                        
                        background-color:blue;
                } 
                &-title{
                        display:grid;
                        align-items: end;
                        height:100%;
                        font-family:'Montserrat';
                        font-size:40px;
                        font-weight: bold;
                        background-color:rgb(174, 0, 255);
                }
                &-p{
                        font-family:'Open Sans';
                        font-size:14px;
                        font-weight: 200;
                        line-height: 20px;
                        height:100%;
                        background-color:rgb(0, 204, 255);
                }
        }
        
}
.team{
        &__wrap{
                display:grid;
                grid-template-rows: auto auto;
                grid-template-columns:auto;
                row-gap:100px;
                padding:100px;
        }
        &__inner{
                display:grid;
                grid-template-columns: auto auto auto;
                grid-template-rows:auto;
        }
        &__item{
                display:flex;
                flex-direction: column;
                row-gap:20px;
                align-items: center;
                &-img{
                        max-width:370px;
                        max-height: 440px;
                }
                &-name{
                        font-family:'Montserrat';
                        font-weight:bold;
                        font-size:14px;
                        text-transform: uppercase;
                }
                &-description{

                        font-family:'Open Sans';
                        font-weight:200;
                        font-size:12px;
                        text-transform: capitalize;
                }
        }
}
.pricing{
        background:black;
        &__items{
                margin:0px;
        }
}